!!!
%html
  %head
    %title
      = title
      = " - #{@config[:title]}" unless title.include? @config[:title]
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}
    %base{:href => "/"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/main.css"}
    %link{:rel => "alternate", :type => "application/rss+xml", :title => "#{title}", :href => "http://feeds.feedburner.com/AndrewKvalheim"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "http://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu:300,500|Terminal+Dosis:200"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/pygments-monokai.css"}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"}
    %script{:type => "text/javascript", :src => "js/layout.js"}
    / Google Analytics
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6595042-6']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    / 960 Grid System
    .container_12
      / Header
      .grid_6.prefix_3.suffix_3#header
        %map{:name => "kahve"}
          %area{:href => "/", :shape => "circle", :coords => [(6*80-20)/2, (6*80-20)/2, (6*80-20)/2].join(",")}
        %img{:src => "/:kahve_#{6*80-20}.jpg", :width => 6*80-20, :height => 6*80-20, :usemap => "#kahve"}
      .clear

      / Content
      .grid_10.prefix_1.suffix_1#content= yield
      .clear

    / Footer
    #footer
      / 960 Grid System
      .container_12
        / Left
        %section.grid_5.prefix_1
          %h1 About
          %p This site is a medium through which I can publish information for wandering Googlers.
          %p It does not have a name.
          %p
            You may
            %a{:href => "http://www.google.com/recaptcha/mailhide/d?k=01NVRNAGmgj2DT8efpSgibAg==&c=cKxJoMKUrU1gNAaxptkCIXh7yp9RyQGD2zAlfyPudzg="} email me.

        / Right
        %section.grid_5.suffix_1
          %h1 Search
          #cse-search-form{:style => "width: 100%;"} Loading
          %script{:src => "//www.google.com/jsapi", :type => "text/javascript"}
          :javascript
            google.load('search', '1', {language : 'en'});
            google.setOnLoadCallback(function() {
              var customSearchControl = new google.search.CustomSearchControl('013034493565108203547:e4_btv2qeii');
              customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
              var options = new google.search.DrawOptions();
              options.setAutoComplete(true);
              customSearchControl.setAutoCompletionId('013034493565108203547:e4_btv2qeii+qptype:3');
              options.enableSearchboxOnly("http://");
              customSearchControl.draw('cse-search-form', options);
            }, true);
          %link{:rel => "stylesheet", :href => "/stylesheets/cse.css", :type => "text/css"}
          %h1 Archives
          - 2011.downto(2008).each do |year|
            = succeed "," do
              %a{:href => "/#{year}"}= year
          or
          %a{:href => "/archives"} all posts
        .clear

        / Bottom text
        %footer.grid_10.prefix_1.suffix_1
          #poweredby
            Powered by&nbsp;
            %ul
              %li
                %a{:href => "http://cloudhead.io/toto"} toto
              %li
                %a{:href => "http://www.heroku.com/"} heroku
              %li
                %a{:href => "http://aws.amazon.com/s3/"} s3
              %li
                %a{:href => "http://git-scm.com/"} git
              %li
                %a{:href => "http://rack.rubyforge.org/"} rack
              %li
                %a{:href => "http://www.ruby-lang.org/"} ruby
              %li
                %a{:href => "http://sass-lang.com/"} sass
              %li
                %a{:href => "http://haml-lang.com/"} haml
              %li
                %a{:href => "http://daringfireball.net/projects/markdown/"} markdown
              %li
                %a{:href => "http://pygments.org/"} pygments
    / Disqus
    :javascript
      var disqus_shortname = '#{ @config[:disqus] }';
      #{ ENV['RACK_ENV'] == 'development' ? "var disqus_developer = 1;" : "" }

      (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
