!!!
%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/main.css"}
    %link{:rel => "alternate", :type => "application/atom+xml", :title => "#{title} - feed", :href => "/index.xml"}
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}
    %title= title
  %body
    %section= yield
    %footer
      powered by
      %a{:href => "http://cloudhead.io/toto"} toto
    :javascript
      var disqus_shortname = '#{ @config[:disqus] }';
      #{ ENV['RACK_ENV'] == 'development' ? "var disqus_developer = 1;" : "" }

      (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
